body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(rgb(205, 227, 251),#467eff,rgb(13, 1, 42) );
}

.container {
  align-items: center;
  height: 100vh;
  justify-content: center;
  display: flex;
}

.card {
  background: #ffffff13;
  padding: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 280px;
  border-radius: 12px;
}


input {
  background: #404040;
  width: 80%;
  border-radius: 8px;
  padding: 10px;
  margin: 8px 0;
  outline: none;
  border: none;
  color: white;
}


button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all .5s;
}

button:hover {
  background: #003ab7;
}

.error {
  color: #ffffff;
  background-color: red;
  font-size: small;
  padding: 1px;
  margin-top: 10px;
    border-radius: 8px;
}